* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

p {
  text-decoration: none;
  font: 1px solid #fff !important ;
}